{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}
{{ $data := site.Params }}

<!-- Contact widget -->
<div class="row contact-widget">
  <div class="col-lg-10" style="margin: 0px 100px">
	<h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
	{{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
	  
    {{ with $page.Content }}{{ . }}{{ end }}

    {{ if $page.Params.email_form }}

    {{ $post_action := "" }}
    {{ if eq $page.Params.email_form 1 }}
      {{ $post_action = "netlify" }}
    {{ else }}
      {{ if not $data.email }}
        {{ errorf "Please set an email address for the contact form using the `email` parameter in `params.toml`. Otherwise, set `email_form = 0` to disable the contact form." }}
      {{ end }}
      {{ $post_action = printf "action=\"https://formspree.io/%s\"" $data.email }}
    {{end}}

    <div class="mb-3">
      <form name="contact" method="POST" {{ $post_action | safeHTMLAttr }}>
        <div class="form-group form-inline">
          <label class="sr-only" for="inputName">{{ i18n "contact_name" }}</label>
          <input type="text" name="name" class="form-control w-100" id="inputName" placeholder="{{ i18n "contact_name" | default "Name" }}" required>
        </div>
        <div class="form-group form-inline">
          <label class="sr-only" for="inputEmail">{{ i18n "contact_email" }}</label>
          <input type="email" name="email" class="form-control w-100" id="inputEmail" placeholder="{{ i18n "contact_email" | default "Email" }}" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputMessage">{{ i18n "contact_message" }}</label>
          <textarea name="message" class="form-control" id="inputMessage" rows="5" placeholder="{{ i18n "contact_message" | default "Message" }}" required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary px-3 py-2">{{ i18n "contact_send" | default "Send" }}</button>
      </form>
    </div>
    {{end}}

    <ul class="fa-ul">

      {{ if and $data.email (not $page.Params.email_form) }}
      <li>
        <i class="fa-li fas fa-envelope fa-2x" aria-hidden="true"></i>
        <span id="person-email">
        {{- if $autolink }}<a href="mailto:{{ $data.email }}">{{ $data.email }}</a>{{ else }}{{ $data.email }}{{ end -}}
        </span>
      </li>
      {{ end }}
      
    </ul>
  
	<h3 style="padding: 30px 0px 10px">Redes sociais:</h3>
	<a href="https://www.facebook.com/cmcoutosilva" target="_blank" rel="noopener"><i class="fab fa-facebook big-icon"></i></a>&nbsp;
	<a href="https://instagram.com/cmcoutosilva" target="_blank" rel="noopener"><i class="fab fa-instagram  big-icon"></i></a>&nbsp;
	<a href="https://twitter.com/cmcoutosilva" target="_blank" rel="noopener"><i class="fab fa-twitter big-icon"></i></a>&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="https://www.linkedin.com/in/cmcouto-silva/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in big-icon"></i></a>&nbsp;
	<a href="https://github.com/cmcouto-silva" target="_blank" rel="noopener"><i class="fab fa-github big-icon"></i></a>
	
  </div>
</div>
